<%= link_to 'home', root_path %>

<p>
	vocabulary quiz on german words:
</p>

<div class='quiz area'>

	<% d_word = @words.first.german_words.first%>

	<div id="english">
		<%= @words.first.word %> ==>
	</div>

	<div id="german_article">
		<%= d_word.article if d_word.article %> &nbsp; 
	</div>

	<div id="german_word">
		<%= d_word.word %>
	</div>

	<br />

	<%= link_to "next", "javascript:nextQuestion(#{@words_json});" %>
	
</div>

