<h3><strong>vocabularist!</strong></h3>

<p>
	select the language you want to test in:
</p>

<%= form_tag(controller: 'vocab_tests', action: 'start') do |f| %>

	
	<table>
		<tr>
			<td>
				chapter 1 
				<%= check_box_tag 'chapters[]', 1 %>
			</td>
			<td>
				chapter 2
				<%= check_box_tag 'chapters[]', 2 %>
			</td>
		</tr>

		<tr><td><%= submit_tag 'english' %></td></tr>
		<tr><td><%= submit_tag 'deutsch' %></td></tr>

	</table>
<% end %>

<p>
	edit words for:
</p>

<%= link_to 'english', english_words_path %><br />
