<h1>Listing german_words</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Article</th>
      <th>Gender</th>
      <th>English word</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @german_words.each do |german_word| %>
      <tr>
        <td><%= german_word.word %></td>
        <td><%= german_word.article %></td>
        <td><%= german_word.gender %></td>
        <td><%= german_word.english_word_id %></td>
        <td><%= link_to 'Show', german_word %></td>
        <td><%= link_to 'Edit', edit_german_word_path(german_word) %></td>
        <td><%= link_to 'Destroy', german_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New German word', new_german_word_path %>
