<%= form_tag(controller: 'english_words', action: 'create', method: 'post', class: 'new_words') do |f| %>
  <% if @english_word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@english_word.errors.count, "error") %> prohibited this english_word from being saved:</h2>

      <ul>
      <% @english_word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	note*  the article selectors are only for the special cases.  leave them blank for the normal (implied) articles.  don't be a hermaphrodite.
  <div class="field">
		<%= label_tag :english_word, 'english' %><br />
    <%= text_field_tag :english_word %>
  </div>

	<!-- masculine singular -->
  <div class="field">
		<%= label_tag :masc_sing, 'masc sing.' %>
<%= select_tag :masc_sing_art, options_for_select(['', 'der', 'die', 'das']) %>
	<%= text_field_tag :masc_sing %>
	</div>
	
	<!-- masculine plural -->
	<div class="field">
		<%= label_tag :masc_plur, 'masc plur.' %>
<%= select_tag :masc_plur_art, options_for_select(['', 'der', 'die', 'das']) %>
	<%= text_field_tag :masc_plur %>
	</div>

	<!-- feminine singular -->
	<div class="field">
		<%= label_tag :fem_sing, 'fem sing.' %>
<%= select_tag :fem_sing_art, options_for_select(['', 'der', 'die', 'das']) %>
	<%= text_field_tag :fem_sing %>
	</div>

	<!-- feminine plural -->
	<div class="field">
		<%= label_tag :fem_plur, 'fem sing.' %>
<%= select_tag :fem_plur_art, options_for_select(['', 'der', 'die', 'das']) %>
	<%= text_field_tag :fem_plur %>
	</div>





  <div class="field">
		<%= label_tag :chapter, 'chapter' %><br />
    <%= number_field :chapter, nil, value: '1'%>
  </div>

  <div class="actions">
    <%= submit_tag 'create' %>
  </div>


	this is the graveyard.  l8r faygits<br />
		<%= select_tag :german_word_article, options_for_select(['', 'der', 'die', 'das']) %> <%= text_field_tag :german_word %><br /><br />
		<%= label_tag :gender_num, 'gender, sing/plur' %>
		<%= select_tag :gender_num, options_for_select(['',
																								 'masc sing.',
																								 'masc plur.',
																								 'fem sing.',
																								 'fem plur.',
																								 'neuter sing.',
																								 'mixed plur.']) %>
<% end %>
