<%= form_tag(controller: 'english_words', action: 'create', method: 'post', class: 'new_words') do |f| %>
  <% if @english_word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@english_word.errors.count, "error") %> prohibited this english_word from being saved:</h2>

      <ul>
      <% @english_word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		note*  the article selectors are only for the special cases.  leave them blank for the normal (implied) articles.  don't be a hermaphrodite.
		<table class="add-word">
			<thead>
				<th>english:</th>
				<th>german:</th>
				<th>chapter:</th>
			</thead>

			<tbody>
				<tr>
					<td>
						<div class="field">
							<%= text_field_tag :english_word %>
						</div>
					</td>

					<td>

						<!-- non-nouns -->
						<div class="field">
							non-nouns:  
							<%= text_field_tag :non_noun %>
						</div>
						
						<!-- singular -->
						<div class="field">
							<%= label_tag :singular, 'sing.' %>
							<%= select_tag :singular_art, options_for_select(['', 'der', 'die', 'das']) %>
							<%= text_field_tag :singular %>
						</div>
						
						<!-- plural -->
						<div class="field" style="padding-bottom: 10px;">
							<%= label_tag :plural, 'plur.' %>
							<%= select_tag :plural_art, options_for_select(['', 'der', 'die', 'das']) %>
							<%= text_field_tag :plural %>
						</div>

						only for professions/people!
						<!-- feminine singular -->
						<div class="field" style="padding-top: 8px;">
							<%= label_tag :fem_sing, 'fem sing.' %>
							<%= select_tag :fem_sing_art, options_for_select(['', 'der', 'die', 'das']) %>
							<%= text_field_tag :fem_sing %>
						</div>

						<!-- feminine plural -->
						<div class="field">
							<%= label_tag :fem_plur, 'fem plur.' %>
							<%= select_tag :fem_plur_art, options_for_select(['', 'der', 'die', 'das']) %>
							<%= text_field_tag :fem_plur %>
						</div>

					</td>

					<td>
						<div class="field">
							<% chap_array = [] %>
							<% 11.times { |i| chap_array << i.to_s } %>
							<% chap_array.shift %>
							<%= select_tag :chapter, options_for_select(chap_array) %>
						</div>
					</td>
			</tr>
		</tbody>
	</table>

	<div class="actions">
		<%= submit_tag 'create' %>
	</div>

<% end %>
