<!DOCTYPE html>
<html>
	<head>
		<title>Vocabularist</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
      <div class="center">
        <%= link_to 'home', root_path %> | 

        <% if current_user %>
          <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'login', new_user_session_path %> |
          <%= link_to 'sign up', new_user_registration_path %>
        <% end %>
      </div>

			<% flash.each do |key, value| %>
				<div class="center alert alert-<%= key %>"><%= value %></div>
			<% end %>

			<%= yield %>

      <div class='push'></div>
		</div>

    <div class='footer center'>© <%= Time.now.year %> elliot wesoff</div>
	</body>
</html>
